[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/Graphics_01_Making-A-Line.git
	branch = master
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/01_line.git
	branch = main
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/01_line
	branch = main
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/01_line_vs.git
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk66_graphics.git
	branch = line
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_line.git
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/01_line
	branch = master
[submodule "weiIva"]
	path = weiIva
	url = git@github.com:iwei20/Bresenham
	branch = main
[submodule "baiJia"]
	path = baiJia
	url = https://github.com/JJBai2003/01_line
	branch = main
[submodule "zhangAnn"]
	path = zhangAnn
	url = https://github.com/annazhang03/line.git
	branch = master
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/graphics01.git
	branch = main
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work01_line.git
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/01_line
	branch = main
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/01_lines
	branch = main
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/00_gfx.git
	branch = main
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/01_line_mks.git
	branch = main
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/01_line_J.git
	branch = main
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/graphics_01_line.git
	branch = main
[submodule "miahFah"]
	path = miahFah
	url = https://github.com/fmiah10/line.git
	branch = main
[submodule "zhengCin"]
	path = zhengCin
	url = https://github.com/czheng10/01line.git
	branch = main
[submodule "cantarellaGra"]
	path = cantarellaGra
	url = https://github.com/grcecant/line.git
	branch = main
[submodule "linRay"]
	path = linRay
	url = https://github.com/RayLin10/line.git
	branch = master
[submodule "yanVic"]
	path = yanVic
	url = https://github.com/vkyan10/001_line.git
	branch = master
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/01_Line.git
	branch = main
[submodule "liZhi"]
	path = liZhi
	url = https://github.com/zlicompgraphics/01_compgraphics.git
	branch = main
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/01_line_alex
	branch = master
[submodule "leeTri"]
	path = leeTri
	url = https://github.com/TristanLee187/01_line.git
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/g1_line
	branch = master
[submodule "yuNeh"]
	path = yuNeh
	url = https://github.com/Nyu10/01_Line
	branch = main
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/Graphics_2.git
	branch = main
