[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/Graphics_01_Making-A-Line.git
	branch = master
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/01_line.git
	branch = main
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/01_line
	branch = main
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/01_line_vs.git
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk66_graphics.git
	branch = line
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_line.git
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/01_line
	branch = master
[submodule "weiIva"]
	path = weiIva
	url = git@github.com:iwei20/Bresenham
	branch = main
[submodule "zhangAnn"]
	path = zhangAnn
	url = https://github.com/annazhang03/line.git
	branch = master
